{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center h-100">
        <div class="w-50 text-center align-middle">
                {% for detail in detailFilm %}
                    <div class="w-100 shadow align-middle rounded bg-light m-5 p-4">
                        <h1 class="m-5">{{ detail.titreFilm }}</h1>
                        <div>
                            <h5 class="m-4">Durée du film : </h5>
                            <div>{{ detail.dureeFilm }}</div>
                        </div>
                        <br>
                        <h5 class="m-4">Seances du film : </h5>
                        <table class="table w-50 mx-auto">
                            {% for seance in detail.seances %}
                                <tr class="m-2 text-center">
                                    <td class="shadow">
                                        <div class="m-2"><u>{{ seance.dateProjection | format_datetime(pattern='dd/MM/y HH:mm') }} </u> </div>
                                        <div class="m-2"><b> tarif normal : </b>{{ seance.tarifNormal }} euros </div>
                                        <div class="m-2"><b> tarif réduit : </b>{{ seance.tarifReduit }} euros </div>
{#                                        <div class="m-2"><b> Salle : </b>{{ seance.Salle.nomSalle }} </div>#}
{#                                        <div class="m-2"><b> Nombre de places : </b>{{ seance.Salle.nombresPlaces }} </div>#}
                                        {% if connect == true %}
                                            <div class="form">
                                                <a href="{{ path('app_reservation',{'idSeance' : seance.id }) }}">
                                                    <button type="submit" class="btn btn-primary" >Reserver</button>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
        </div>
    </div>

{% endblock %}